:root {
    --value_1: "";
}
.page_title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0px;
}
.statystyka_towaru {
    width: 250px;
    height: 150px;
    display: inline-block;
    margin: 20px;
    background-color: rgba(220,220,220, 0.3);
    border-radius: 15px;
}
.nazwa_towaru_s {
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
}
.ilosc_towaru_s {
    width: 100%;
    height: 100px;
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}
.rozliczenie {
    width: 100%;
}
.przychod, .wydatek, .dochod {
    font-size: 20px;
    text-align: center;
}
.statystyka_wartosc {
    font-size: 32px;
    font-weight: bold;
}
.przychod_wartosc {
    color: rgb(12, 122, 42);
}
.wydatek_wartosc {
    color: rgb(125, 32, 43);
}
.dochod_wartosc {
    color: rgb(35, 129, 176);
}
.diagram_1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.diagram_kolory {
    width: 100%;
    margin: 20px 0px;
}
.square {
    height: 20px;
    width: 20px;
}
.square_2 {
    background-color: rgb(35, 129, 176);
}
.square_1 {
    background-color: rgb(125, 32, 43);
}
.rozliczenie_dane {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 0px 20px;
}